.About {
  p {
    margin: 1em 10em 1em 1em;
  }
  ul{
    display: flex;
    flex-direction: column;
  }
  li {
    font-family: 'Sen', sans-serif;
    list-style: none;
  }

  div {
    display: flex;
    flex-direction: row;
  }
}