.Header {
  background-color: #4f91a6;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 98vh;
  box-shadow: 5px 5px 1px 1px lightgray;

  img {
    width: 12em;
    height: auto;
    margin: 1em auto;
 
  }

  a {
    font-size: 1.5vw;
    font-weight: bolder;
    color: rgb(29, 29, 29);
    border: solid rgb(31, 31, 31) .1vw;
    width: 10vw;
    height: 3vw;
    text-align: center;
    padding: .1vw;
    margin-bottom: .7vw;
  }

  a:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
}


