.MediaLinks{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: center;

  li {
    list-style: none;
    width: 2em;
  }

  img {
    width: 1.5em;
    height: auto;
  }

}