@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald');

* {
  font-family: 'Heebo', "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  section {
    position: absolute;
    left: 315px;
  }
}
